---
layout: base
googlefonts: ["courgette"]
---

{% include header.html type="page" %}
<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<style>
  html, body {
    height: 100%;
    width: 100%;
  }
  #github-iframe {
    position: fixed;
    left: 32px;
    top: 32px;
  }
  #area-render {
    position: fixed;
    width: 320px;
    height: 160px;
    right: 4px;
    bottom: 4px;
    border: dashed 1px #ccc;
  }
</style>
<body>
  <div id="github-iframe"></div>
  
  <div id="area-render"></div>
  <script src="../js/line.js"></script>
  <script type="text/javascript">
    var cn = new CanvasNest(document.getElementById('area-render'), {
      color: '255,0,255',
      count: 50,
    });
  </script> -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140417652-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-140417652-2');
</script>

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ content }}
	    {% if page.comments %}
        <div class="disqus-comments">
	        {% include disqus.html %}
        </div>
	        {% include fb-comment.html %}
        <div class="staticman-comments">
          {% include staticman-comments.html %}
        </div>
	    {% endif %}
    </div>
  </div>
</div>
